@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.content {
  margin: 0;
  padding: 10px;
  background-color: white;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation Styles */
header {
  text-align: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: background 0.25s ease-in-out;
}

header.white {
  background: #fff;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.502);
}

.logo {
  opacity: 0;
  transform: translate(0, -100%);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.logo.active {
  opacity: 1;
  transform: translate(0, 0);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  border-radius: 2px;
  width: 1.6em;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  transition-delay: 70ms;
  bottom: 8px;
  /*transform: translateY(7px) rotate(45deg);*/
}

.nav-toggle-label span::after {
  transition-delay: 140ms;
  top: 8px;
  /*transform: translateY(-7px) rotate(315deg);*/
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: rgba(var(--background), 0);
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: translateY(8px) rotate(45deg);
  opacity: 100;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: translateY(-8px) rotate(315deg);
  opacity: 100;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, color 0.25s ease-in-out;
}

nav a.white {
  color: black;
}

/* ~: gets the preceeding sibling of the .nav-toggle */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s, color 0.25s ease-in-out;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform: scale(0, 1);
    transition: transform 0.25s ease-in-out;
  }

  nav a.white::before {
    background: black;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Background */
.background {
  background: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.logo-scroll-detector {
  position: absolute;
  width: 100%;
  top: 65%;
}

.background-scroll-detector {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Arrow styles */
.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.scroll-p {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  animation: scroll-p 1.2s ease-in-out infinite;
}

@keyframes scroll-p {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(50%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
